.login {
    height: auto;
    width: 350px;
    background-color:#cbebe6d4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 15px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }
  .lContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }
  .lInput {
    height: 30px;
    width: 300px;
    padding: 8px;
    border-radius: 10px;
    border: 0.5px solid grey;
  }
  .lButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
  }
  .lButton:disabled {
    background-color: #0071c28c;
    cursor: not-allowed;
  }
  .Register {
    height: auto;
    width: 350px;
    background-color:#f3b6b3a9;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 15px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }
  
  .lContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }
  
  .lInput {
    height: 30px;
    width: 300px;
    padding: 8px;
    border-radius: 10px;
    border: 0.5px solid grey;
  }
  
  .lButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .lButton:disabled {
    background-color: #0071c28c;
    cursor: not-allowed;
  }
  .head-line {
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
  }
  .background {
    background-image: url(./headphone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
  }
  h1{
    position: relative;
    bottom: 80px;
  }