.app-name {
  font-size: 20px;
}
.bag-name {
  display: flex;
  align-items: center;
}
.navbar {
  width: 100%;
  padding: 20px 0px 20px 0px;
  background-color: #547794;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 80px;
  color: white;
}
.bag-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.navbar-carts{
  display: flex;
  align-items: center;
  font-weight: 600;
}
.navbar-carts {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2;
}
.navbar-carts:hover {
  cursor: pointer;
}
.RiShoppingCartLine,
.BsPersonCircle {
  font-size: x-large;
}
.carts-count {
  color:white;
  font-size: larger;
  padding-left: 5px;
}
.navbar-search {
  display: flex;
  align-items: center;
}
.searchbar {
  width: 700px;
  height: 40px;
  border: none;
  font-size: medium;
  padding-left: 10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.BiSearchAlt2 {
  background-color: rgb(255, 255, 255);
  height: 30px;
  width: 35px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 5px;
  color: black;
}
.BiSearchAlt2:hover {
  background-color: rgb(198, 198, 198);
  cursor: pointer;
}
@media screen and (max-width: 430px) {
  .navbar-search {
    width: 350px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 25px;
    top: 20px;
  }
  .bag-name {
    visibility: hidden;
  }
  .navbar-carts {
    visibility: hidden;
  }
  .navbar-user {
    visibility: hidden;
  }
}

@media (max-width: 1500px) {
  .app-name {
    font-size: 22px;
  }
}
@media (max-width: 1400px) {
  .app-name {
    font-size: 20px;
  }
}
@media screen and (max-width: 1550px) {
  .navbar-search {
    width: 500px;
  }
}
@media screen and (max-width: 1300px) {
  .navbar-search {
    width: 400px;
  }
}
@media screen and (max-width: 1150px) {
  .bag-name {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1170px) {
  .navbar-search {
    width: 300px;
  }
}
.searchbar:focus{
  outline: none;
}